@tailwind base;
@tailwind components;
@tailwind utilities;

.card-section{
        width:388px;
        height: 388px;
        border-radius: 20px;
        margin:12px
}
.card-image{
        border-radius: 20px;
}
.card-main-row{
        margin-right: 15%;
        margin-left: 15%;
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        overflow-x: auto;
        overscroll-behavior-inline: contain;

}
.card-title{
        font-size: 30px;
        margin-left: 15%;
        margin-bottom: 30px;
}