@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
        font-size: 45px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
}
h2{
        font-size:25px;
}
.footer-right{
        float: right;
        padding-right:15%;
}
.footer-left{
        float: left;
        padding-left:15% ;
}
