@tailwind base;
@tailwind components;
@tailwind utilities;

.intro-content{
        display:flex;
        justify-content: center;
}
#intro-div{
        width: 45%;
        border-radius: 40px;
        padding-left: 40px;
        margin-top: 10%;
        
}
.image-div{
        padding-top: 15%;
        padding-left: 15%;
}
h1{
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
}
